@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
#root > div {
  position: relative;
  height: 100vh;
}
/* Pages */
.page {
  width: 100%;
}
.create-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page h2,
.create-page h2 {
  margin: 3rem auto;
}
.new-post,
form {
  width: 100%;
}
form .input-field {
  margin-bottom: 1.5rem;
}
.notfound {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
}
/* Masonry css */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
